#window{
	width: 85%;
	border: 1px solid black;
	margin: 10 auto;
	padding:10px;
}
#active{
	float:right;
}
#txtName{
	margin-left: 23px;
	width: 180px;
}
#txtPass{
	width: 180px;
}

#txtMessage{
	width: 100%;
}
.message{
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	box-shadow: 0px 2px 3px black;
}
.liked{
    background-color: red;
}
#btnSend{
    width: 20%;
}
#upload{
    width: 20%;
}
